html, body {
  height: 100%; }

body {
  margin: 0;
  background: #2e3b32; }

#main {
  background: inherit;
  margin: 0; }

#footer {
  background: red;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  #footer form {
    margin: 0px; }
    #footer form input {
      background: inherit;
      width: 100%;
      padding: 10px;
      border: none;
      outline: none; }
