%html
	%head
		%link{:href=>'jschat.css',:rel=>'stylesheet'}
		%script{:src=>'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'}
		%script{:src=>'lib/jquery.cookie.js'}
		%script{:src=>'http://localhost:81/socket.io/socket.io.js'}
		%script{:src=>'jschat.js'}

	%body
		#main
		
		#footer		
			%form#chatform{:action=>'javascript:alert("hi");'}
				%input{:type=>'text'}	
